/* styles.module.css */

.messagesContainer {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 90vh;
    
  }

  
  .messageArea {
    flex: 1;
    padding: 20px;
    margin-bottom: 120px;
  }
  
  .message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }

  
  .myMessage {
    justify-content: flex-end;
   
  }
  
  .avatar {
    margin-right: 10px;
  }
  
  .avatarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .messageText {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 
  }
  .myMessageText{
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  

.sentImage{
  width: auto;
  height: 100px;
  border-radius: 10px;
}
.documentLink{
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Yeni bir stil oluşturuyoruz */
.imageWithDownload {
  position: relative; /* Bağlantıyı resmin içinde konumlandırmak için */
  display: inline-block; /* Resim ve bağlantıyı yan yana getirmek için */
}

/* İndirme bağlantısının varsayılan stilini gizliyoruz */
.downloadLink {
  display: none;
  position: absolute; /* Bağlantıyı resmin içinde konumlandırmak için */
  top: 5px; /* Resmin alt kısmından biraz yukarıda olacak şekilde ayarlıyoruz */
  right: 5px; /* Resmin solundan biraz sağa kaydırıyoruz */
  background-color: rgba(0, 0, 0, 0.5); /* Arka plan rengi ve saydamlık */
  color: #fff; /* Yazı rengi */
  padding: 5px; /* İçerik ile kenar arasındaki mesafe */
  border-radius: 5px; /* Köşeleri yuvarlaklaştırma */
  text-decoration: none; /* Altçizgi kaldırma */
}

/* Resmin üzerine gelindiğinde indirme bağlantısını gösteriyoruz */
.imageWithDownload:hover .downloadLink {
  display: block;
}