/* styles.module.css */

.messagesContainer {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    max-height: 90vh;
    
  }

  
  .messageArea {
    flex: 1;
    padding: 20px;
    margin-bottom: 120px;
    margin-top: 100px;
  }
  
  .message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }

  
  .myMessage {
    justify-content: flex-end;
   
  }
  
  .avatar {
    margin-right: 10px;
  }
  
  .avatarImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .messageText {
    padding: 10px;
    background-color: #363638;
    color:#cfcfd0;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 
  }
  .myMessageText{
    padding: 10px;
    background-color: #005246;
    color: #dbe4e3;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  

.sentImage{
  width: auto;
  height: 100px;
  border-radius: 10px;
}
.documentLink{
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageWithDownload {
  position: relative; 
  display: inline-block; 
}

/* İndirme bağlantısının varsayılan stilini gizliyoruz */
.downloadLink {
  display: none;
  position: absolute; 
  top: 5px; 
  right: 5px; 
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; 
  padding: 5px;
  border-radius: 5px; 
  text-decoration: none;
}

/* Resmin üzerine gelindiğinde indirme bağlantısını gösteriyoruz */
.imageWithDownload:hover .downloadLink {
  display: block;
}